/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2015, 9:22:02 PM
    Author     : Neil
*/
body{
    background-image: url("homePageBackground.jpg");
    background-repeat: no-repeat;

}
.jumbotron{
    background-color: #FFFFCC;
    
}
#Heading{
    margin-bottom:0px;
}

#Caption{
    margin:0px;
}

.row{
    
}

#user{
   width:100%;
   font-size:1.5em;
}

#searchButton{
    font-size: 1em;
}
#addRecipeButton{
    font-size:1em;
    
}
